{% extends 'base.html' %}

{% block title%}Compare Airline{% endblock %}
{% block section %}
<form class='container col-8' method='POST'>
    <div class="form-group">
        <label for="airline1">Airline 1</label>
        <select class="form-control" id="airline1" name="airline1">
            {% for airline in airlines %}
            <option>{{ airline['airline'] }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label for="airline2">Airline 2</label>
        <select class="form-control" id="airline2" name="airline2">
            {% for airline in airlines %}
            <option>{{ airline['airline'] }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label for="airline2">Descriptor</label>
        <select class="form-control" id="descriptor" name="descriptor">
            {% for desc in descriptors %}
            <option>{{ desc }}</option>
            {% endfor %}
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% if compute_chart %}
<canvas id="myChart" height="400" class="col-8"></canvas>

<script src={{ url_for('static', filename='graph.js') }}></script>
<script>
var ctx = document.getElementById('myChart').getContext('2d');
ctx.width=100;

var label = [{% for i in data1.index %}{{ i }},{% endfor %}];
var data1 = [{% for n in data1 %}{{ n }},{% endfor %}];
var data2 = [{% for n in data2 %}{{ n }},{% endfor %}];

hist_2_set(ctx, label, data1,data2,'{{ xlabel }}','{{ title }}','{{ title }}');
</script>
{% endif %}
{% endblock %}